 
{% extends "skeleton.html.j2" %}

{% block main %}
  {%- for year, article_list in articles.items() %}
  <h3>{{ year }}</h3>
  {%-   for article in article_list %}
  <ul>
    <li><a href="{{ article.link }}">{{ article.title }}</a></li>
  </ul>
  {%-   endfor %}
  {%- endfor %}
{% endblock %}
